################################# jijna2 template file####################################

<html>
    <center>
        <h1> Welcome ......This webserver is hosted on {{ ansible_hostname }}. </h1>
    </center>
</html>  
